<p class="current-project">
    Your Project:
    <% if (yourProject===null) { %>
        No project assigned
        <% } else { %>
            <a class="project" href="/project/<%= yourProject %>">
                <%= yourProject %>
            </a>
            <% } %>
</p>