<section class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="images/LOGO.png" width="200" height="85"></a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="">PROJECT LIST</a></li>
                <li><a href="/teams">TEAM LIST</a></li>
                <li><a href="/users">STUDENT LIST</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
    </nav>
</section>
