<section class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/LOGO.png" width="200" height="85"></a>
        </div>
        <div class="nav-links">
            <ul>
                <% if (isAdmin) { %>
                    <li><a href="/adminHomepage">HOME</a></li>    
                <% } else { %>
                    <li><a href="/">HOME</a></li> 
                <% } %>
                <li><a href="/projects">PROJECT LIST</a></li>
                <li><a href="/teams">TEAM LIST</a></li>
                <li><a href="/users">STUDENT LIST</a></li>
                <% if (!isAdmin) { %>
                    <li><a href="/profile">PROFILE</a></li>
                <% } %>        
                <li><a href="/logout">LOGOUT</a>
            </ul>
            <li class="user-pic-item">
                <img src="/images/profile.png" class="user-pic" onclick="toggleMenu()">

                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="/images/profile.png">
                            <h2>Michael Pham</h2>
                        </div>
                        <hr>
                        <a href="#" class="sub-menu-link">
                            <img src="/images/profile.png">
                            <p>Profile</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/images/setting.png">
                            <p>View Project</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/images/setting.png">
                            <p>View Team</p>
                            <span>></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <img src="/images/logout.png">
                            <p>Logout</p>
                            <span>></span>
                        </a>
                    </div>
                </div>
            </li>
        </div>
    </nav>

    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");
        }
    </script>
</section>