* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(121,121,121,0.2) 0%, rgba(117,117,117,0.2) 35%, rgba(51,51,51,0.2) 100%), url(images/UTD-Mall-1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2%6%;
    justify-content:space-between;
}

.logo{
    flex: 1;
    position: absolute;
    top: 2%;
    left: 12%;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:20px;
}

    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 4px;
        background: #247730;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li:hover::after{
        width: 100%;
    }