<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Manage Database - Administrator"}); %>
<body>

<%- include('partials/admin-header.ejs'); %>
    
<main class="adminPage">
    <h1>Manage Database</h1>
    <p>Choose a Category</p>
    <div class="categoryList">
        <label for="categoryLabel"></label>
        <select id="categoryLabel" name="categoryLabel">            
            <option value=""></option>
            <option value="user">Users</option>
            <option value="student">Profiles</option>
            <option value="team">Teams</option>
            <option value="projects">Projects</option>            
            <option value="organizer">Organizers</option>
        </select>
    </div>
</main>

</body>
</html>