<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Administrator Home Page"}); %>
<body>

<%- include('partials/admin-header.ejs'); %>
    
<main>
    <h1>This is the base file for the administrator home page.</h1>
</main>


</body>
</html>