<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Team Formation"}); %>
<body>

<%- include('partials/header.ejs'); %>

<div class="function-container">
    <div class="function-item">        
        <form action="/admin/generate-teams" method="get">
            <label for="maxTeam">Max Team Size</label>
            <input type="text" name="maxTeam" id="maxTeam" />            
            <input type="submit" value="Regenerate" />            
        </form>        
    </div>

    <div class="function-item" id="save-item">        
        <form action="" method="post">
            <input id="saveAllTeams" type="submit" value="Save All Teams" />
        </form>    
    </div>
</div>

<main class="adminPage">   
    <article>
        <ul class="profile-list" id="projectList">            
            <li class="profile-item" style="display: block;">                                                                    
                <div class="genCard">    
                    <h1>team</h1>                    
                    <p>Members</p>                     
                    <p>Project Preferences</p>
                    <p>Skills</p>
                </div>                    
            </li>          
        </ul>
    </article>                  
</main>

<% console.log(teams); %>
<% console.log(unsortedUsers); %>    

</body>
</html>
