<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Administrator - Reset a user's profile"}); %>
<body>

<%- include('partials/admin-header.ejs'); %>
    
<main>
    <h1>Hello, World!</h1>
   

</body>
</html>