<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Profile Page"}); %>
<body>
<%- include('partials/header.ejs'); %>
    
<main class="linkButtons">
    <div class="setting-links">
        <ul>
            <li><a href="">Upload Resume & Contact Information</a></li>
            <li><a href="submitPreferences">Set Project Preferences</a></li>
        </ul>
    </div>
</main>

</body>
</html>
