<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section class = "header">
    <nav class="navbar">
        <a href="index"><img src="images/LOGO.png"
            width="200" height="85"></a>

        <div class="nav-links">
            <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="">PROJECT LIST</a></li>
                <li><a href="">TEAM LIST</a></li>
                <li><a href="">STUDENT LIST</a></li>
                <li><a href="/profile">PROFILE</a></li>
            </ul>
        </div>        
    </nav>
</section>
    
<main class="linkButtons">
    <div class="setting-links">
        <ul>
            <li><a href="">Upload Resume & Contact Information</a></li>
            <li><a href="submitPreferences">Set Project Preferences</a></li>
        </ul>
    </div>
</main>

</body>
</html>
