<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<%- include("partials/doc-head.ejs", {title: "Project List"}); %>

<body>
    <%- include('partials/header.ejs'); %>

</body>

</html>