<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Team List - Team Sign Up</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-5" rel="stylesheet">
</head>

<body>
    <section class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="index"><img src="images/LOGO.png" width="200" height="85"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="">PROJECT LIST</a></li>
                    <li><a href="/team-list">TEAM LIST</a></li>
                    <li><a href="">STUDENT LIST</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                </ul>
        </nav>
    </section>

    <main>
        <article>
            <h1>Team List</h1>

            <p class="current-team">YOUR TEAM: No team assigned | <a class="team" href="/team">Team 12</a></p>

            <ul class="profile-list">
                <li>
                    <a href="/team">
                        <div class="profile-image-box">
                            <img class="profile-image" src="profile.png" />
                        </div>
                        <div class="profile-box">
                            <h2 class="team">Team 9</h2>
                            <div class="profile-project-interest inline-list">
                                Interested Projects:
                                <ul>
                                    <li>Raytheon Drone Showcase</li>
                                    <li>Team Sign-Up</li>
                                    <li>Dr. Becker Software-Software Project</li>
                                </ul>
                            </div>
                            <div class="profile-skills inline-list">
                                Skills:
                                <ul>
                                    <li>Software development</li>
                                    <li>ML programming</li>
                                    <li>C++</li>
                                    <li>Front-end design</li>
                                    <li>Orchestrator</li>
                                    <li>TensorFlow</li>
                                </ul>
                            </div>
                            <div class="profile-members inline-list">
                                Members:
                                <ul>
                                </ul>
                            </div>
                            <div class="team-status-box">
                                <p>Team Status: <span class="team-status-open">Open</span></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/team">
                        <div class="profile-image-box">
                            <img class="profile-image" src="profile.png" />
                        </div>
                        <div class="profile-box">
                            <h2 class="team">Team 12 <span class="your-team-indicator">Your Team</span></h2>
                            <div class="profile-project-interest inline-list">
                                Interested Projects:
                                <ul>
                                    <li>Raytheon Drone Showcase</li>
                                    <li>Team Sign-Up</li>
                                    <li>Dr. Becker Software-Software Project</li>
                                </ul>
                            </div>
                            <div class="profile-skills inline-list">
                                Skills:
                                <ul>
                                    <li>Software development</li>
                                    <li>ML programming</li>
                                    <li>C++</li>
                                    <li>Front-end design</li>
                                    <li>Orchestrator</li>
                                    <li>TensorFlow</li>
                                </ul>
                            </div>
                            <div class="profile-members inline-list">
                                Members:
                                <ul>
                                    <li>Michael Pham</li>
                                    <li>Allen Elledge</li>
                                    <li>Nghia Nguyen</li>
                                    <li>David Wilkinson</li>
                                    <li>Justin Eggers</li>
                                </ul>
                            </div>
                            <div class="team-status-box">
                                <p>Team Status: <span class="team-status-closed">Closed</span></p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/team">
                        <div class="profile-image-box">
                            <img class="profile-image" src="profile.png" />
                        </div>
                        <div class="profile-box">
                            <h2 class="team">Team 27</h2>
                            <div class="profile-project-interest inline-list">
                                Interested Projects:
                                <ul>
                                    <li>Raytheon Drone Showcase</li>
                                    <li>Team Sign-Up</li>
                                    <li>Dr. Becker Software-Software Project</li>
                                </ul>
                            </div>
                            <div class="profile-skills inline-list">
                                Skills:
                                <ul>
                                    <li>Software development</li>
                                    <li>ML programming</li>
                                    <li>C++</li>
                                    <li>Front-end design</li>
                                    <li>Orchestrator</li>
                                    <li>TensorFlow</li>
                                </ul>
                            </div>
                            <div class="profile-members inline-list">
                                Members:
                                <ul>
                                    <li>Bob Joel</li>
                                    <li>Jimmy James</li>
                                    <li>Timothy Nguyen</li>
                                </ul>
                            </div>
                            <div class="team-status-box">
                                <p>Team Status: <span class="team-status-open">Open</span></p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </article>
    </main>
</body>

</html>