<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "Team Page"}); %>
<body>
<%- include('partials/header.ejs'); %>

<main class="teamPageContents">
    <div class="teamNumheader">
        <h1>Team #</h1>
    </div>

    <div class="teamMembersList">
        <h2>Team Members</h2>
        <p>Member</p>
        <p>Member</p>
        <p>Member</p>
        <p>Member</p>
        <p>Member</p>
    </div>

    <div class="teamProjectPrefsList">
        <h2>Interested Projects</h2>
        <p>Project</p>
        <p>Project</p>
        <p>Project</p>
        <p>Project</p>
        <p>Project</p>
    </div>

    <div class="leaveTeamButtonContainer">
        <button class="leaveTeamButton" type="button">Leave Team</button>
    </div>

</main>

</body>
</html>