<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section class = "header">
    <nav class="navbar">
        <a href="index"><img src="images/LOGO.png" width="200" height="85"></a>

        <div class="nav-links">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">PROJECT LIST</a></li>
                <li><a href="">TEAM LIST</a></li>
                <li><a href="">STUDENT LIST</a></li>
                <li><a href="">PROFILE</a></li>
            </ul>
        </div>        
    </nav>
</section>
    
<main class="userPage">
    <h1>Placeholder Name</h1>
    <div>
        <div class="userInfo">
            <div class="user-row">
                <div class="user-col">
                    <a href="#" class="resume-link">
                        <img src="images/resume.svg"
                        width="50" height="auto">
                    </a>
                    <p>Resume</p>
                </div>

                <div class="user-col">
                    <a href="#" class="invite-link">
                        <img src="images/invite.svg"
                        width="50" height="auto">
                    </a>
                    <p>Invite</p>
                </div>
            </div>

            <div class="projects">
                <h3>Project Preferences</h3>
                <p class="projListElement">Project 1</p>
                <p class="projListElement">Project 2</p>
                <p class="projListElement">Project 3</p>
                <p class="projListElement">Project 4</p>
                <p class="projListElement">Project 5</p>
            </div>

            <div class="add-info">
                <h3>Contact Information</h3>
                <p id="contactInfoText">N/A</p>
            </div>

        </div>
    </div>
</main>

    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // this function runs when the DOM is ready, i.e. when the document has been parsed
        const demoObj = {'prefOne': "83", 'prefTwo': "9", 'prefThree': "17", 'prefFour': "18", 'prefFive': "11"};
        //const demoObj = ["33", "9", "17", "18", "11"]; //This line was for testing purposes

        const projListElements = document.querySelectorAll('.projListElement');
        const projKeys = Object.keys(demoObj);

        for (let i = 0; i < 5; i++) {
            if (i < 5) {
                projListElements[i].textContent = demoObj[projKeys[i]];
                //projListElements[i].textContent = demoObj[i]; //This line was for testing purposes
            }
        }
        
        const contactSection = document.getElementById("contactInfoText");
        contactSection.textContent = "Email: demo@utdallas.edu | Phone number: 123-456-7890 | Discord: clyde";
        
});
    
</script>
</body>
</html>