<!DOCTYPE html>
<html lang="en">
<%- include("partials/doc-head.ejs", {title: "User Information"}); %>
<body>
<%- include('partials/header.ejs'); %>
  
<!--TODO: get name from database/SSO --> 
<% const name = 'Placeholder Name' %>

<main class="user-page">
    <h1><%= name %></h1>
    <div class="user-info">
        <div class="user-row">
            <div class="user-col">
                <a href="#" class="resume-link">
                    <img src="/images/resume.svg"
                    width="50" height="auto">
                </a>
                <p>Resume</p>
            </div>

            <div class="user-col">
                <a href="#" class="invite-link">
                    <img src="/images/invite.svg"
                    width="50" height="auto">
                </a>
                <p>Invite</p>
            </div>
        </div>

        <div class="projects">
            <h3>Project Preferences</h3>
            <p class="projListElement"></p>
            <p class="projListElement"></p>
            <p class="projListElement"></p>
            <p class="projListElement"></p>
            <p class="projListElement"></p>
        </div>

        <div class="add-info">
            <h3>Contact Information</h3>
            <p id="contactInfoText"></p>
        </div>
    </div>
</main>

<%- include('partials/load-profile.ejs'); %>
    
</script>
</body>
</html>