*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.utd-mall {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(121,121,121,0.2) 0%, rgba(117,117,117,0.2) 35%, rgba(51,51,51,0.2) 100%), url(images/UTD-Mall-1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding-left: 10%;
    padding-right: 5%;
    justify-content:space-between;
    background-color: #f26c4f;
}

.nav-links{
    display: flex;
    text-align: right;
    align-items: center;
}

.nav-links.active {
    text-decoration: underline;
    color: #247730;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0.25em 1em;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #247730;
    display: block;
    padding-bottom: 5px;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-logo-box {
    position: absolute;
    top: 20%;
}

.setting-links li{
    display: inline;
    flex: 1;
    text-align: left;
}

body{
    background-color: #ebebeb;
}

main {
    background-color: #ebebeb;
    width: 98%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    top: 10px;
}

/* Profile.ejs */

.profile-page {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.profile-page h1{
    padding: 10px;
}

.profile-card{
    width: 400px;
    display: inline-block;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: #333;
    padding-left: 20px;
    margin-left: 20px;
  }

  .profile-card h1{
    font-weight: 500;
    color: #000;
  }

  .profile-card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

.image-link>label{
    display: block;
    width: 200px;
    background: linear-gradient(90deg, #f26c4f 0%, #e26246 100%);
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

.upload-picture{
    display: none;
}

.setting-links a{
    display: inline-block;        
    padding: 10px;
    width: 320px;
    height: 20px;	
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;	
    background: linear-gradient(90deg, #f26c4f 0%, #e26246 100%);
    color:#fff;
    font-weight: bold;
    text-decoration: none;    
    margin-block: 5px;
}

.resume-card{
    display: inline-block;
    vertical-align: top;
    width: 1100px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    margin: 10px;
    text-align: center;
    margin-left: 50px;
}

.project-card{
    display: inline-block;
    vertical-align: top;
    width: 1100px;
    height: 500px;
    border-radius: 10px;
    background: #fff;
    margin: 10px;
    text-align: center;
}

.setting-links a:hover{
    background: linear-gradient(180deg, #ef694b 0%, #dc5132 100%);
}

.user-page h1{
    padding: 10px;
}

.user-info{
    padding: 5px;
}

.user-info h4{
    color:rgb(191, 4, 4)
}

.userInfo{
    padding: 20px;
}

.user-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-col{
    align-items: center;
    margin-right: 30px;
}

.user-col p{
    padding:10px;
}

.user-row h3{
    text-align: center;
    padding: 20px;
}

.user-row p{
    display: flex;
}

.invite-link{
    padding:10px;
}

.projects{
    padding: 10px;
}

.projects h3{
    padding:10px;
}

.add-info{
    padding: 10px;
}
.add-info p{
    padding: 10px;
}

.team {
    text-transform: uppercase;
}

.your-project-indicator {
    font-size: 0.5em;
}

.project-sponsor {
    font-weight: bold;
    line-height: 1.8em;
}

.your-team-indicator {
    font-size: 0.5em;
}

.profile-list {
    text-align: left;
    background-color: #ebebeb;
    padding: 1em;
    list-style-type: none;
    line-height: 1.8em;
}

.profile-list h2 {
    font-size: 2rem;
    font-weight: bold;
}

.profile-project-interest {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}

.project-description {
    margin-top: 0.2em;
}

.project-sponsor {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}

.profile-list > li > a {
    padding: 1em;
    border-bottom: 1pt solid #333;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.profile-image-box {
    min-height: 12rem;
    min-width: 12rem;
    max-width: 12rem;
    margin-right: 1em;
    float: left;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.profile-box {
    min-height: 12rem;
    float: left;
    display: flex;
    flex-direction: column;
}

.team-status-box {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.project-status-box {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.profile-list > li > a {
    color: inherit;
    text-decoration: none;
}

.inline-list > ul {
    list-style-type: none;
    display: inline;
}

.inline-list > ul > li {
    display: inline;
}

.inline-list > ul > li:after {
    content: ", "
}

.inline-list > ul > li:last-child:after {
    content: ""
}

.team-status-open {
    color: green;
}

.project-status-open {
    color: green;
}

.team-status-closed {
    color: red;
}

.project-status-closed {
    color: red;
}

.invite-message {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.function-container {
    background-color: #ffffff;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    display: flex;
}

.function-item {
    margin-left: 20px;
    margin-right: 10px;
}

.your-project {
    color: #333;
    margin-top: 5px;
    margin-left: 8px;
    justify-content: right;
    font-size: 1.1em;
}

.your-project a {
    color: #007bff;
}

#searchInput {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

#searchInput:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#skills {
    width: 170px;
    height: 30px;
    background-image: url(/images/skills_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(1.1);
    padding-left: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    color: transparent;
    transition: transform 0.3s ease;
}

#skills:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#sponsor {
    width: 150px;
    height: 30px;
    background-image: url(/images/sponsor_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-left: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    color: transparent;
    transition: transform 0.3s ease;
}

#sponsor:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.invite-actions {
    display: flex;
}

.invite-actions > form {
    margin-right: 0.3em;
}


.listBody {
    list-style-type: none;
}

.resumeUploadSection,
.contactSubmitButton{
    padding: 10px;
}

.contactRow{
    padding: 5px;
}

.contactRow label{
    display: block;
    margin-right: 10px;    
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;

  }

  input[type="submit"]{
    font-size: 16px;
    width: 100px;
    cursor: pointer;
  }