*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

.utd-mall {
    background-image: linear-gradient(90deg, rgba(121,121,121,0.2) 0%, rgba(117,117,117,0.2) 35%, rgba(51,51,51,0.2) 100%), url(images/UTD-Mall-1920.jpg);
}

nav{
    display: flex;
    padding-left: 10%;
    padding-right: 5%;
    justify-content:space-between;
    background-color: #f26c4f;
}

.nav-links{
    display: flex;
    text-align: right;
    align-items: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0.25em 1em;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 4px;
    background: #247730;
    display: block;
    padding-bottom: 5px;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-logo-box {
    position: absolute;
    top: 20%;
}

.setting-links li{
    display: inline;
    flex: 1;
    text-align: left;
}

body{
    background-color:#0d4a1b;
}

main {
    background-color: #fff3f3;
    width: 90%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    top:15%;
    left: 5%;
    border-radius: 10px;
}

.userInfo{
    padding: 20px;
}

.user-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-col{
    align-items: center;
    margin-right: 30px;
}

.user-col p{
    padding:10px;
}

.user-row h3{
    text-align: center;
    padding: 20px;
}

.user-row p{
    display: flex;
}

.invite-link{
    padding:10px;
}

.projects{
    padding: 10px;
}

.projects h3{
    padding:10px;
}

.add-info{
    padding: 10px;
}
.add-info p{
    padding: 10px;
}

.team {
    text-transform: uppercase;
}

.your-team-indicator {
    font-size: 0.5em;
}

.profile-list {
    text-align: left;
    background-color:lightgray;
    padding: 1em;
    list-style-type: none;
    line-height: 1.8em;
}

.profile-list h2 {
    font-size: 2rem;
    font-weight: bold;
}

.profile-project-interest {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
}

.profile-list > li > a {
    padding: 1em;
    border-bottom: 1pt solid #333;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.profile-image-box {
    min-height: 12rem;
    min-width: 12rem;
    max-width: 12rem;
    margin-right: 1em;
    float: left;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.profile-box {
    min-height: 12rem;
    float: left;
    display: flex;
    flex-direction: column;
}

.team-status-box {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.profile-list > li > a {
    color: inherit;
    text-decoration: none;
}

.inline-list > ul {
    list-style-type: none;
    display: inline;
}

.inline-list > ul > li {
    display: inline;
}

.inline-list > ul > li:after {
    content: ", "
}

.inline-list > ul > li:last-child:after {
    content: ""
}

.team-status-open {
    color: green;
}

.team-status-closed {
    color: red;
}

.invite-message {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.invite-actions {
    display: flex;
}

.invite-actions > form {
    margin-right: 0.3em;
}
